ssl.keystore.location: /var/ssl/private/kafka4.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: /var/ssl/private/kafka4.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

kafkastore.bootstrap.servers: kafka4:29097,kafka5:29098,kafka6:29099
kafkastore.security.protocol: SSL
kafkastore.ssl.keystore.location: /var/ssl/private/kafka4.mycompany.com.keystore.jks
kafkastore.ssl.keystore.password: serverpassword
kafkastore.ssl.truststore.location: /var/ssl/private/kafka4.mycompany.com.truststore.jks
kafkastore.ssl.truststore.password: serverpassword