ssl.keystore.location: ../../../certs/kafka1.mycompany.com.keystore.jks
ssl.keystore.password: serverpassword
ssl.truststore.location: ../../../certs/kafka1.mycompany.com.truststore.jks
ssl.truststore.password: serverpassword

kafkastore.bootstrap.servers: localhost:9092
kafkastore.security.protocol: SSL
kafkastore.ssl.keystore.location: ../../../certs/kafka1.mycompany.com.keystore.jks
kafkastore.ssl.keystore.password: serverpassword
kafkastore.ssl.truststore.location: ../../../certs/kafka1.mycompany.com.truststore.jks
kafkastore.ssl.truststore.password: serverpassword